* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #222;
    transition: background 0.3s ease, color 0.3s ease;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

h1 {
    font-size: 28px;
}

#dark-mode-btn {
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

#dark-mode-btn:hover {
    background-color: #444;
}

.catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 10px;
    width: 100%;
}


.movie-card {
    background: white;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.movie-card:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}


.movie-card img {
    width: 100%;
    height: 380px;          
    object-fit: cover;      
    border-radius: 12px;
    margin-bottom: 10px;
}


.favorite-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.favorite-btn:hover {
    background-color: rgb(185, 0, 40);
}

.favorited {
    border: 3px solid gold;
    box-shadow: 0 0 15px gold;
}

.dark-mode {
    background-color: #111;
    color: white;
}

.dark-mode .movie-card {
    background-color: #222;
    color: white;
}

.dark-mode #dark-mode-btn {
    background-color: white;
    color: black;
}

.dark-mode .favorite-btn {
    background-color: #dd3333;
}

.dark-mode .favorite-btn:hover {
    background-color: #aa0000;
}